/* Import Lato font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
    background-color: rgb(238, 228, 228);
    opacity: 0.9;
    font-family: "Lato", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    border: 1px;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 10px;
}

h1 {
    color: black;
    text-align: left;
    margin: 10px;
}
h2 {
    color: black;
    text-align: left;
    margin: 10px;
}
h3 {
    color: black;
    text-align: left;
    margin: 10px;
}
h4 {
    color: black;
    text-align: left;
    margin: 10px;
}
h5 {
    color: black;
    text-align: left;
    margin: 10px;
}
h6 {
    color: gray;
    text-align: left;
    margin: 10px;
}

button {
    border: 1px;
    border-radius: 2.5px;
    margin: 10px;
    color: black;
    background-color: whitesmoke;
}
